{% extends "base_accounts.html" %}
{% load static %}

{% block title %}Password Reset{% endblock %}

{% block content %}
<section class="contact-page-area section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <form class="form-area contact-form text-right"  method="post">
          <p>Enter your email address to reset your password.</p>
          {% csrf_token %}
          {{ form.as_p }}
          <div class="row">
              <button class="genric-btn primary" style="float: right;" type="submit">Reset Password</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}